 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 65px;
}

.u-section-1 .u-list-1 {
  margin-top: 3px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 0px 0px;
}

.u-section-1 .u-list-2 {
  margin-top: -3px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-2 {
  min-height: 65px;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 0px 0px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  margin: 0 auto;
  padding: 20px 35px;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  margin: 0 auto;
  padding: 20px 35px;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  margin: 0 auto;
  padding: 20px 35px;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  margin: 0 auto;
  padding: 20px 35px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(undefined, NaN);
  }

  .u-section-1 .u-repeater-2 {
    min-height: 57px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-repeater-2 {
    min-height: 175px;
    grid-template-columns: 50% 50%;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-2 {
    grid-template-columns: 100%;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 59px;
}

.u-section-2 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 10px 0 0;
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 548px;
}

.u-section-3 .u-products-1 {
  height: auto;
  margin: 40px auto 40px 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 0px 0px;
  min-height: 1449px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-3 .u-image-1 {
  height: 272px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-3 .u-product-price-1 {
  margin: 20px auto 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-3 .u-image-2 {
  height: 272px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-product-price-2 {
  margin: 20px auto 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-3 .u-image-3 {
  height: 272px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-3 .u-product-price-3 {
  margin: 20px auto 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 20px;
}

.u-section-3 .u-image-4 {
  height: 272px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-3 .u-product-price-4 {
  margin: 20px auto 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px 20px;
}

.u-section-3 .u-image-5 {
  height: 272px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-3 .u-product-price-5 {
  margin: 20px auto 0;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px 20px;
}

.u-section-3 .u-image-6 {
  height: 272px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-3 .u-product-price-6 {
  margin: 20px auto 0;
}

.u-section-3 .u-container-layout-7 {
  padding: 30px 20px;
}

.u-section-3 .u-image-7 {
  height: 272px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-3 .u-product-price-7 {
  margin: 20px auto 0;
}

.u-section-3 .u-container-layout-8 {
  padding: 30px 20px;
}

.u-section-3 .u-image-8 {
  height: 272px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-3 .u-product-price-8 {
  margin: 20px auto 0;
}

.u-section-3 .u-container-layout-9 {
  padding: 30px 20px;
}

.u-section-3 .u-image-9 {
  height: 272px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-9 {
  margin: 20px 0 0;
}

.u-section-3 .u-product-price-9 {
  margin: 20px auto 0;
}

.u-section-3 .u-container-layout-10 {
  padding: 30px 20px;
}

.u-section-3 .u-image-10 {
  height: 272px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-10 {
  margin: 20px 0 0;
}

.u-section-3 .u-product-price-10 {
  margin: 20px auto 0;
}

.u-section-3 .u-container-layout-11 {
  padding: 30px 20px;
}

.u-section-3 .u-image-11 {
  height: 272px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-11 {
  margin: 20px 0 0;
}

.u-section-3 .u-product-price-11 {
  margin: 20px auto 0;
}

.u-section-3 .u-container-layout-12 {
  padding: 30px 20px;
}

.u-section-3 .u-image-12 {
  height: 272px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-12 {
  margin: 20px 0 0;
}

.u-section-3 .u-product-price-12 {
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 466px;
  }

  .u-section-3 .u-products-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 1262px;
  }

  .u-section-3 .u-image-1 {
    height: 229px;
  }

  .u-section-3 .u-image-2 {
    height: 229px;
  }

  .u-section-3 .u-image-3 {
    height: 229px;
  }

  .u-section-3 .u-image-4 {
    height: 229px;
  }

  .u-section-3 .u-image-5 {
    height: 229px;
  }

  .u-section-3 .u-image-6 {
    height: 229px;
  }

  .u-section-3 .u-image-7 {
    height: 229px;
  }

  .u-section-3 .u-image-8 {
    height: 229px;
  }

  .u-section-3 .u-image-9 {
    height: 229px;
  }

  .u-section-3 .u-image-10 {
    height: 229px;
  }

  .u-section-3 .u-image-11 {
    height: 229px;
  }

  .u-section-3 .u-image-12 {
    height: 229px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1208px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 50% 50%;
    min-height: 3867px;
  }

  .u-section-3 .u-image-1 {
    height: 338px;
  }

  .u-section-3 .u-image-2 {
    height: 338px;
  }

  .u-section-3 .u-image-3 {
    height: 338px;
  }

  .u-section-3 .u-image-4 {
    height: 338px;
  }

  .u-section-3 .u-image-5 {
    height: 338px;
  }

  .u-section-3 .u-image-6 {
    height: 338px;
  }

  .u-section-3 .u-image-7 {
    height: 338px;
  }

  .u-section-3 .u-image-8 {
    height: 338px;
  }

  .u-section-3 .u-image-9 {
    height: 338px;
  }

  .u-section-3 .u-image-10 {
    height: 338px;
  }

  .u-section-3 .u-image-11 {
    height: 338px;
  }

  .u-section-3 .u-image-12 {
    height: 338px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1263px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    height: 563px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    height: 563px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    height: 563px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-4 {
    height: 563px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-5 {
    height: 563px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-6 {
    height: 563px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-7 {
    height: 563px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-8 {
    height: 563px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-9 {
    height: 563px;
  }

  .u-section-3 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-10 {
    height: 563px;
  }

  .u-section-3 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-11 {
    height: 563px;
  }

  .u-section-3 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-12 {
    height: 563px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    height: 350px;
  }

  .u-section-3 .u-image-2 {
    height: 350px;
  }

  .u-section-3 .u-image-3 {
    height: 350px;
  }

  .u-section-3 .u-image-4 {
    height: 350px;
  }

  .u-section-3 .u-image-5 {
    height: 350px;
  }

  .u-section-3 .u-image-6 {
    height: 350px;
  }

  .u-section-3 .u-image-7 {
    height: 350px;
  }

  .u-section-3 .u-image-8 {
    height: 350px;
  }

  .u-section-3 .u-image-9 {
    height: 350px;
  }

  .u-section-3 .u-image-10 {
    height: 350px;
  }

  .u-section-3 .u-image-11 {
    height: 350px;
  }

  .u-section-3 .u-image-12 {
    height: 350px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 59px;
}

.u-section-4 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 10px 0;
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-bottom: 0;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 548px;
}

.u-section-5 .u-products-1 {
  height: auto;
  margin: 40px auto 40px 0;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 0px 0px;
  min-height: 1932px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-5 .u-image-1 {
  height: 272px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-5 .u-product-price-1 {
  margin: 20px auto 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-5 .u-image-2 {
  height: 272px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-5 .u-product-price-2 {
  margin: 20px auto 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-5 .u-image-3 {
  height: 272px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-5 .u-product-price-3 {
  margin: 20px auto 0;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px 20px;
}

.u-section-5 .u-image-4 {
  height: 272px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-5 .u-product-price-4 {
  margin: 20px auto 0;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px 20px;
}

.u-section-5 .u-image-5 {
  height: 272px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-5 .u-product-price-5 {
  margin: 20px auto 0;
}

.u-section-5 .u-container-layout-6 {
  padding: 30px 20px;
}

.u-section-5 .u-image-6 {
  height: 272px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-5 .u-product-price-6 {
  margin: 20px auto 0;
}

.u-section-5 .u-container-layout-7 {
  padding: 30px 20px;
}

.u-section-5 .u-image-7 {
  height: 272px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-5 .u-product-price-7 {
  margin: 20px auto 0;
}

.u-section-5 .u-container-layout-8 {
  padding: 30px 20px;
}

.u-section-5 .u-image-8 {
  height: 272px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-5 .u-product-price-8 {
  margin: 20px auto 0;
}

.u-section-5 .u-container-layout-9 {
  padding: 30px 20px;
}

.u-section-5 .u-image-9 {
  height: 272px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-9 {
  margin: 20px 0 0;
}

.u-section-5 .u-product-price-9 {
  margin: 20px auto 0;
}

.u-section-5 .u-container-layout-10 {
  padding: 30px 20px;
}

.u-section-5 .u-image-10 {
  height: 272px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-10 {
  margin: 20px 0 0;
}

.u-section-5 .u-product-price-10 {
  margin: 20px auto 0;
}

.u-section-5 .u-container-layout-11 {
  padding: 30px 20px;
}

.u-section-5 .u-image-11 {
  height: 272px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-11 {
  margin: 20px 0 0;
}

.u-section-5 .u-product-price-11 {
  margin: 20px auto 0;
}

.u-section-5 .u-container-layout-12 {
  padding: 30px 20px;
}

.u-section-5 .u-image-12 {
  height: 272px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-12 {
  margin: 20px 0 0;
}

.u-section-5 .u-product-price-12 {
  margin: 20px auto 0;
}

.u-section-5 .u-container-layout-13 {
  padding: 30px 20px;
}

.u-section-5 .u-image-13 {
  height: 272px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-13 {
  margin: 20px 0 0;
}

.u-section-5 .u-product-price-13 {
  margin: 20px auto 0;
}

.u-section-5 .u-container-layout-14 {
  padding: 30px 20px;
}

.u-section-5 .u-image-14 {
  height: 272px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-14 {
  margin: 20px 0 0;
}

.u-section-5 .u-product-price-14 {
  margin: 20px auto 0;
}

.u-section-5 .u-container-layout-15 {
  padding: 30px 20px;
}

.u-section-5 .u-image-15 {
  height: 272px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-15 {
  margin: 20px 0 0;
}

.u-section-5 .u-product-price-15 {
  margin: 20px auto 0;
}

.u-section-5 .u-container-layout-16 {
  padding: 30px 20px;
}

.u-section-5 .u-image-16 {
  height: 272px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-16 {
  margin: 20px 0 0;
}

.u-section-5 .u-product-price-16 {
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 466px;
  }

  .u-section-5 .u-products-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 1682px;
  }

  .u-section-5 .u-image-1 {
    height: 229px;
  }

  .u-section-5 .u-image-2 {
    height: 229px;
  }

  .u-section-5 .u-image-3 {
    height: 229px;
  }

  .u-section-5 .u-image-4 {
    height: 229px;
  }

  .u-section-5 .u-image-5 {
    height: 229px;
  }

  .u-section-5 .u-image-6 {
    height: 229px;
  }

  .u-section-5 .u-image-7 {
    height: 229px;
  }

  .u-section-5 .u-image-8 {
    height: 229px;
  }

  .u-section-5 .u-image-9 {
    height: 229px;
  }

  .u-section-5 .u-image-10 {
    height: 229px;
  }

  .u-section-5 .u-image-11 {
    height: 229px;
  }

  .u-section-5 .u-image-12 {
    height: 229px;
  }

  .u-section-5 .u-image-13 {
    height: 229px;
  }

  .u-section-5 .u-image-14 {
    height: 229px;
  }

  .u-section-5 .u-image-15 {
    height: 229px;
  }

  .u-section-5 .u-image-16 {
    height: 229px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1208px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 50% 50%;
    min-height: 5153px;
  }

  .u-section-5 .u-image-1 {
    height: 338px;
  }

  .u-section-5 .u-image-2 {
    height: 338px;
  }

  .u-section-5 .u-image-3 {
    height: 338px;
  }

  .u-section-5 .u-image-4 {
    height: 338px;
  }

  .u-section-5 .u-image-5 {
    height: 338px;
  }

  .u-section-5 .u-image-6 {
    height: 338px;
  }

  .u-section-5 .u-image-7 {
    height: 338px;
  }

  .u-section-5 .u-image-8 {
    height: 338px;
  }

  .u-section-5 .u-image-9 {
    height: 338px;
  }

  .u-section-5 .u-image-10 {
    height: 338px;
  }

  .u-section-5 .u-image-11 {
    height: 338px;
  }

  .u-section-5 .u-image-12 {
    height: 338px;
  }

  .u-section-5 .u-image-13 {
    height: 338px;
  }

  .u-section-5 .u-image-14 {
    height: 338px;
  }

  .u-section-5 .u-image-15 {
    height: 338px;
  }

  .u-section-5 .u-image-16 {
    height: 338px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1263px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    height: 563px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-2 {
    height: 563px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-3 {
    height: 563px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-4 {
    height: 563px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-5 {
    height: 563px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-6 {
    height: 563px;
  }

  .u-section-5 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-7 {
    height: 563px;
  }

  .u-section-5 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-8 {
    height: 563px;
  }

  .u-section-5 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-9 {
    height: 563px;
  }

  .u-section-5 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-10 {
    height: 563px;
  }

  .u-section-5 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-11 {
    height: 563px;
  }

  .u-section-5 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-12 {
    height: 563px;
  }

  .u-section-5 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-13 {
    height: 563px;
  }

  .u-section-5 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-14 {
    height: 563px;
  }

  .u-section-5 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-15 {
    height: 563px;
  }

  .u-section-5 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-16 {
    height: 563px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-image-1 {
    height: 350px;
  }

  .u-section-5 .u-image-2 {
    height: 350px;
  }

  .u-section-5 .u-image-3 {
    height: 350px;
  }

  .u-section-5 .u-image-4 {
    height: 350px;
  }

  .u-section-5 .u-image-5 {
    height: 350px;
  }

  .u-section-5 .u-image-6 {
    height: 350px;
  }

  .u-section-5 .u-image-7 {
    height: 350px;
  }

  .u-section-5 .u-image-8 {
    height: 350px;
  }

  .u-section-5 .u-image-9 {
    height: 350px;
  }

  .u-section-5 .u-image-10 {
    height: 350px;
  }

  .u-section-5 .u-image-11 {
    height: 350px;
  }

  .u-section-5 .u-image-12 {
    height: 350px;
  }

  .u-section-5 .u-image-13 {
    height: 350px;
  }

  .u-section-5 .u-image-14 {
    height: 350px;
  }

  .u-section-5 .u-image-15 {
    height: 350px;
  }

  .u-section-5 .u-image-16 {
    height: 350px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 59px;
}

.u-section-6 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 10px auto 0 20px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-left: 0;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 548px;
}

.u-section-7 .u-products-1 {
  height: auto;
  margin: 40px auto 40px 0;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 0px 0px;
  min-height: 1449px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-7 .u-image-1 {
  height: 272px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-7 .u-product-price-1 {
  margin: 20px auto 0;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-7 .u-image-2 {
  height: 272px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-7 .u-product-price-2 {
  margin: 20px auto 0;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-7 .u-image-3 {
  height: 272px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-7 .u-product-price-3 {
  margin: 20px auto 0;
}

.u-section-7 .u-container-layout-4 {
  padding: 30px 20px;
}

.u-section-7 .u-image-4 {
  height: 272px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-7 .u-product-price-4 {
  margin: 20px auto 0;
}

.u-section-7 .u-container-layout-5 {
  padding: 30px 20px;
}

.u-section-7 .u-image-5 {
  height: 272px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-7 .u-product-price-5 {
  margin: 20px auto 0;
}

.u-section-7 .u-container-layout-6 {
  padding: 30px 20px;
}

.u-section-7 .u-image-6 {
  height: 272px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-7 .u-product-price-6 {
  margin: 20px auto 0;
}

.u-section-7 .u-container-layout-7 {
  padding: 30px 20px;
}

.u-section-7 .u-image-7 {
  height: 272px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-7 .u-product-price-7 {
  margin: 20px auto 0;
}

.u-section-7 .u-container-layout-8 {
  padding: 30px 20px;
}

.u-section-7 .u-image-8 {
  height: 272px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-7 .u-product-price-8 {
  margin: 20px auto 0;
}

.u-section-7 .u-container-layout-9 {
  padding: 30px 20px;
}

.u-section-7 .u-image-9 {
  height: 272px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-text-9 {
  margin: 20px 0 0;
}

.u-section-7 .u-product-price-9 {
  margin: 20px auto 0;
}

.u-section-7 .u-container-layout-10 {
  padding: 30px 20px;
}

.u-section-7 .u-image-10 {
  height: 272px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-text-10 {
  margin: 20px 0 0;
}

.u-section-7 .u-product-price-10 {
  margin: 20px auto 0;
}

.u-section-7 .u-container-layout-11 {
  padding: 30px 20px;
}

.u-section-7 .u-image-11 {
  height: 272px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-text-11 {
  margin: 20px 0 0;
}

.u-section-7 .u-product-price-11 {
  margin: 20px auto 0;
}

.u-section-7 .u-container-layout-12 {
  padding: 30px 20px;
}

.u-section-7 .u-image-12 {
  height: 272px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-text-12 {
  margin: 20px 0 0;
}

.u-section-7 .u-product-price-12 {
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 466px;
  }

  .u-section-7 .u-products-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-repeater-1 {
    min-height: 1262px;
  }

  .u-section-7 .u-image-1 {
    height: 229px;
  }

  .u-section-7 .u-image-2 {
    height: 229px;
  }

  .u-section-7 .u-image-3 {
    height: 229px;
  }

  .u-section-7 .u-image-4 {
    height: 229px;
  }

  .u-section-7 .u-image-5 {
    height: 229px;
  }

  .u-section-7 .u-image-6 {
    height: 229px;
  }

  .u-section-7 .u-image-7 {
    height: 229px;
  }

  .u-section-7 .u-image-8 {
    height: 229px;
  }

  .u-section-7 .u-image-9 {
    height: 229px;
  }

  .u-section-7 .u-image-10 {
    height: 229px;
  }

  .u-section-7 .u-image-11 {
    height: 229px;
  }

  .u-section-7 .u-image-12 {
    height: 229px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1208px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: 50% 50%;
    min-height: 3867px;
  }

  .u-section-7 .u-image-1 {
    height: 338px;
  }

  .u-section-7 .u-image-2 {
    height: 338px;
  }

  .u-section-7 .u-image-3 {
    height: 338px;
  }

  .u-section-7 .u-image-4 {
    height: 338px;
  }

  .u-section-7 .u-image-5 {
    height: 338px;
  }

  .u-section-7 .u-image-6 {
    height: 338px;
  }

  .u-section-7 .u-image-7 {
    height: 338px;
  }

  .u-section-7 .u-image-8 {
    height: 338px;
  }

  .u-section-7 .u-image-9 {
    height: 338px;
  }

  .u-section-7 .u-image-10 {
    height: 338px;
  }

  .u-section-7 .u-image-11 {
    height: 338px;
  }

  .u-section-7 .u-image-12 {
    height: 338px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1263px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-1 {
    height: 563px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-2 {
    height: 563px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-3 {
    height: 563px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-4 {
    height: 563px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-5 {
    height: 563px;
  }

  .u-section-7 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-6 {
    height: 563px;
  }

  .u-section-7 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-7 {
    height: 563px;
  }

  .u-section-7 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-8 {
    height: 563px;
  }

  .u-section-7 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-9 {
    height: 563px;
  }

  .u-section-7 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-10 {
    height: 563px;
  }

  .u-section-7 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-11 {
    height: 563px;
  }

  .u-section-7 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-12 {
    height: 563px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-image-1 {
    height: 350px;
  }

  .u-section-7 .u-image-2 {
    height: 350px;
  }

  .u-section-7 .u-image-3 {
    height: 350px;
  }

  .u-section-7 .u-image-4 {
    height: 350px;
  }

  .u-section-7 .u-image-5 {
    height: 350px;
  }

  .u-section-7 .u-image-6 {
    height: 350px;
  }

  .u-section-7 .u-image-7 {
    height: 350px;
  }

  .u-section-7 .u-image-8 {
    height: 350px;
  }

  .u-section-7 .u-image-9 {
    height: 350px;
  }

  .u-section-7 .u-image-10 {
    height: 350px;
  }

  .u-section-7 .u-image-11 {
    height: 350px;
  }

  .u-section-7 .u-image-12 {
    height: 350px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 59px;
}

.u-section-8 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 10px 0 10px 20px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-1 {
    margin-left: 0;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 548px;
}

.u-section-9 .u-products-1 {
  height: auto;
  margin: 40px auto 40px 0;
}

.u-section-9 .u-repeater-1 {
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 0px 0px;
  min-height: 1449px;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-9 .u-image-1 {
  height: 272px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-9 .u-product-price-1 {
  margin: 20px auto 0;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-9 .u-image-2 {
  height: 272px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-9 .u-product-price-2 {
  margin: 20px auto 0;
}

.u-section-9 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-9 .u-image-3 {
  height: 272px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-9 .u-product-price-3 {
  margin: 20px auto 0;
}

.u-section-9 .u-container-layout-4 {
  padding: 30px 20px;
}

.u-section-9 .u-image-4 {
  height: 272px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-9 .u-product-price-4 {
  margin: 20px auto 0;
}

.u-section-9 .u-container-layout-5 {
  padding: 30px 20px;
}

.u-section-9 .u-image-5 {
  height: 272px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-9 .u-product-price-5 {
  margin: 20px auto 0;
}

.u-section-9 .u-container-layout-6 {
  padding: 30px 20px;
}

.u-section-9 .u-image-6 {
  height: 272px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-9 .u-product-price-6 {
  margin: 20px auto 0;
}

.u-section-9 .u-container-layout-7 {
  padding: 30px 20px;
}

.u-section-9 .u-image-7 {
  height: 272px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-9 .u-product-price-7 {
  margin: 20px auto 0;
}

.u-section-9 .u-container-layout-8 {
  padding: 30px 20px;
}

.u-section-9 .u-image-8 {
  height: 272px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-9 .u-product-price-8 {
  margin: 20px auto 0;
}

.u-section-9 .u-container-layout-9 {
  padding: 30px 20px;
}

.u-section-9 .u-image-9 {
  height: 272px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-text-9 {
  margin: 20px 0 0;
}

.u-section-9 .u-product-price-9 {
  margin: 20px auto 0;
}

.u-section-9 .u-container-layout-10 {
  padding: 30px 20px;
}

.u-section-9 .u-image-10 {
  height: 272px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-text-10 {
  margin: 20px 0 0;
}

.u-section-9 .u-product-price-10 {
  margin: 20px auto 0;
}

.u-section-9 .u-container-layout-11 {
  padding: 30px 20px;
}

.u-section-9 .u-image-11 {
  height: 272px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-text-11 {
  margin: 20px 0 0;
}

.u-section-9 .u-product-price-11 {
  margin: 20px auto 0;
}

.u-section-9 .u-container-layout-12 {
  padding: 30px 20px;
}

.u-section-9 .u-image-12 {
  height: 272px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-text-12 {
  margin: 20px 0 0;
}

.u-section-9 .u-product-price-12 {
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 466px;
  }

  .u-section-9 .u-products-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-repeater-1 {
    min-height: 1262px;
  }

  .u-section-9 .u-image-1 {
    height: 229px;
  }

  .u-section-9 .u-image-2 {
    height: 229px;
  }

  .u-section-9 .u-image-3 {
    height: 229px;
  }

  .u-section-9 .u-image-4 {
    height: 229px;
  }

  .u-section-9 .u-image-5 {
    height: 229px;
  }

  .u-section-9 .u-image-6 {
    height: 229px;
  }

  .u-section-9 .u-image-7 {
    height: 229px;
  }

  .u-section-9 .u-image-8 {
    height: 229px;
  }

  .u-section-9 .u-image-9 {
    height: 229px;
  }

  .u-section-9 .u-image-10 {
    height: 229px;
  }

  .u-section-9 .u-image-11 {
    height: 229px;
  }

  .u-section-9 .u-image-12 {
    height: 229px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1208px;
  }

  .u-section-9 .u-repeater-1 {
    grid-template-columns: 50% 50%;
    min-height: 3867px;
  }

  .u-section-9 .u-image-1 {
    height: 338px;
  }

  .u-section-9 .u-image-2 {
    height: 338px;
  }

  .u-section-9 .u-image-3 {
    height: 338px;
  }

  .u-section-9 .u-image-4 {
    height: 338px;
  }

  .u-section-9 .u-image-5 {
    height: 338px;
  }

  .u-section-9 .u-image-6 {
    height: 338px;
  }

  .u-section-9 .u-image-7 {
    height: 338px;
  }

  .u-section-9 .u-image-8 {
    height: 338px;
  }

  .u-section-9 .u-image-9 {
    height: 338px;
  }

  .u-section-9 .u-image-10 {
    height: 338px;
  }

  .u-section-9 .u-image-11 {
    height: 338px;
  }

  .u-section-9 .u-image-12 {
    height: 338px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1263px;
  }

  .u-section-9 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-image-1 {
    height: 563px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-image-2 {
    height: 563px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-image-3 {
    height: 563px;
  }

  .u-section-9 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-image-4 {
    height: 563px;
  }

  .u-section-9 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-image-5 {
    height: 563px;
  }

  .u-section-9 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-image-6 {
    height: 563px;
  }

  .u-section-9 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-image-7 {
    height: 563px;
  }

  .u-section-9 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-image-8 {
    height: 563px;
  }

  .u-section-9 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-image-9 {
    height: 563px;
  }

  .u-section-9 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-image-10 {
    height: 563px;
  }

  .u-section-9 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-image-11 {
    height: 563px;
  }

  .u-section-9 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-image-12 {
    height: 563px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-image-1 {
    height: 350px;
  }

  .u-section-9 .u-image-2 {
    height: 350px;
  }

  .u-section-9 .u-image-3 {
    height: 350px;
  }

  .u-section-9 .u-image-4 {
    height: 350px;
  }

  .u-section-9 .u-image-5 {
    height: 350px;
  }

  .u-section-9 .u-image-6 {
    height: 350px;
  }

  .u-section-9 .u-image-7 {
    height: 350px;
  }

  .u-section-9 .u-image-8 {
    height: 350px;
  }

  .u-section-9 .u-image-9 {
    height: 350px;
  }

  .u-section-9 .u-image-10 {
    height: 350px;
  }

  .u-section-9 .u-image-11 {
    height: 350px;
  }

  .u-section-9 .u-image-12 {
    height: 350px;
  }
}